@media (min-width: 1200px) and (max-width: 1800px) {
  .container {
    width: 1150px;
  }
  .inner {
    padding-left: 80px;
    padding-right: 80px;
  }
  .main {
    height: 900px;
  }
  .main-content {
    margin-top: 60px;
  }
  .wfor {
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .wfor-box {
    margin-top: 25px;
    height: 320px;
  }
  .wfor-el {
    width: 248px;
  }
  .wfor-el:nth-child(2) {
    margin-top: 60px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .wfor-el__title {
    font-size: 22px;
  }
  .wget-inner {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .wget__img {
    width: 75%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .wget-row1 {
    margin-left: -150px;
    margin-top: 10px;
    width: 87%;
  }
  .wget-box__title {
    margin-top: -77px;
    font-size: 22px;
    line-height: 30px;
  }
  .wget-row2 {
    margin-top: 50px;
    margin-left: -10%;
    width: 120%;
  }
  .row2-box {
    padding-top: 84px;
  }
  .box-backsub {
    height: 498px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .box-backsub::before {
    padding-left: 27px;
    font-size: 22px;
    margin-bottom: 38px;
  }
  .backsub {
    margin-left: -170px;
    width: calc(100vw - 50% - 412px);
    left: calc(50% + 240px);
    top: -25px;
    height: auto;
  }
  .container_stars,
  .container_spikers {
    margin-left: calc((100% - 1150px) / 2);
    margin-right: 0;
  }
  .stars-inner,
  .spikers-inner {
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .stars-inner_slider,
  .spikers-inner_slider {
    padding-right: 0;
    padding-top: 0;
  }
  .stars-inner_title,
  .spikers-inner_title {
    padding-bottom: 0px;
  }
  .stars-title {
    margin-bottom: 70px;
  }
  .stars-slider1:before,
  .spikers-slider1:before {
    width: calc(80px + ((100vw - 1150px) / 2) - 22px);
  }
  .stars-slider1:after,
  .spikers-slider1:after {
    width: calc(80px + ((100vw - 1150px) / 2) - 22px);
    left: calc((80px + ((100vw - 1150px) / 2)) * (-1));
  }
  .stars-slider1 .slick-arrow,
  .spikers-slider1 .slick-arrow {
    top: -110px;
  }
  .stars-slider1 .slick-arrow.slick-prev,
  .spikers-slider1 .slick-arrow.slick-prev {
    left: 886px;
  }
  .stars-slider1 .slick-arrow.slick-next,
  .spikers-slider1 .slick-arrow.slick-next {
    left: 950px;
  }
  .stars__img-box,
  .spikers__img-box {
    width: 300px;
    height: 400px;
  }
  .stars-slider1 .slick-slide,
  .spikers-slider1 .slick-slide {
    margin-right: 45px;
  }
  .stars-slider1 .slick-dots,
  .spikers-slider1 .slick-dots {
    width: 990px;
  }
  .spikers-title {
    margin-bottom: 60px;
  }
  .infofor-inner {
    padding-top: 80px;
    padding-bottom: 90px;
  }
  .infofor-title {
    margin-bottom: 60px;
  }
  .step__subtitle {
    font-size: 20px;
    margin-top: 20px;
  }
  .request-button {
    width: 280px;
    height: 89px;
    font-size: 20px;
    margin-top: 48px;
  }
  .step-box2:after {
    bottom: 63%;
  }
  .step-box2:before {
    height: 63%;
  }
  .step-box3:after {
    bottom: 48%;
  }
  .step-box3:before {
    height: 48%;
  }
  .agegroup-content {
    margin-left: 108px;
    margin-right: calc((100vw - 990px) / 2);
  }
  .agegroup-box {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .agegroup-table {
    width: 100%;
  }
  .imgbox {
    height: auto;
  }
  .agegroup-table tr {
    height: calc(116px * 0.8);
  }
  .agegroup-table tr:nth-child(1) {
    height: calc(127px * 0.8);
  }
  .agegroup-table tr:nth-child(2n) {
    height: calc(105px * 0.8);
  }
  .agegroup-table tr:nth-child(3) {
    height: calc(118px * 0.8);
  }
  .agegroup-table tr:last-child {
    height: calc( 125px * 0.8);
  }
  .category-inner {
    padding-top: 110px;
    padding-bottom: 110px;
  }
  .level-box {
    width: 150px;
    margin: 0 0 0 60px;
  }
  .level-subtitle__text {
    font-size: 22px;
  }
  .prizes-title {
    margin-bottom: 80px;
  }
  .prize-subtitle {
    width: calc(100% - 160px);
    font-size: 22px;
    line-height: 30px;
  }
  .prize-img {
    width: 320px;
    height: 320px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .prizes-col {
    width: 32%;
    padding-right: 20px;
  }
  .prizes-col:first-child {
    width: 36%;
    padding-right: 10px;
  }
  .prizes-col:last-child {
    width: 32%;
  }
  div.prize-imgbox {
    width: 160px;
  }
  div.prize-imgbox1,
  div.prize-imgbox2 {
    margin-right: -15px;
  }
  .prize-img1 {
    left: -53%;
    top: -36%;
  }
  .prize-img2 {
    left: -57%;
    top: -44%;
  }
  .prize-img3 {
    left: -65%;
    top: -45%;
  }
  .prize-img4 {
    left: -69%;
    top: -41%;
  }
  .prize-img5 {
    left: -48%;
    top: -37%;
  }
  .prize-img6 {
    left: -66%;
    top: -35%;
  }
  .cost-box {
    width: 485px;
    margin-bottom: 20px;
  }
  .cost-box:nth-child(3n-1) {
    width: 485px;
  }
  .cost-top {
    padding-left: 40px;
    padding-right: 40px;
  }
  .cost-bottom {
    padding-left: 40px;
  }
  .questions-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .questions-content {
    width: 50%;
    padding-left: 50px;
  }
  .questions-imgbox {
    width: 50%;
  }
  .questions-imgbox__img {
    left: -17.6%;
    top: -16%;
    width: 131.6%;
  }
  .download-quest__img {
    width: 90px;
  }
  .download-quest {
    margin-left: -24px;
  }
  .medias-slider {
    margin: 0 30px;
  }
  .medias-box {
    height: 350px;
  }
  .medias-slider .slick-arrow.slick-prev {
    left: calc(50% - 547px);
  }
  .medias-slider .slick-arrow.slick-next {
    right: calc(50% - 547px);
  }
  .medias-slider .slick-arrow {
    top: 490px;
  }
  .medias-inner {
    padding-bottom: 140px;
  }
  .partners-inner {
    padding-top: 100px;
  }
  .partners-title {
    text-align: center;
    margin-bottom: 80px;
  }
  .partners-slider .slick-arrow.slick-prev {
    left: calc(50% + 400px);
  }
  .partners-slider .slick-arrow.slick-next {
    left: calc(50% + 465px);
  }
  .partners-slider .slick-arrow {
    top: -126px;
  }
  .partners-button {
    margin-right: auto;
  }
  .booking-img {
    right: -508px;
    height: 709px;
  }
  .booking-title {
    font-size: 58px;
    line-height: 72px;
    margin-bottom: 48px;
  }
  .loc-map {
    width: 50%;
    height: 656px;
  }
  .loc-container {
    margin-left: 0;
    margin-right: calc((100vw - 990px)/2);
    width: 50%;
  }
  .loc-inner {
    padding-top: 90px;
    padding-right: 0;
  }
  footer {
    height: auto;
  }
  .footer-button {
    margin-right: 0;
  }
  .footer-inner {
    padding: 50px 0;
  }
}

@media (min-width: 980px) and (max-width: 1200px) {
  .container {
    width: 930px;
  }
  .inner {
    padding-left: 80px;
    padding-right: 80px;
  }
  .email {
    display: none;
  }
  .logo__text {
    width: 250px;
    line-height: 28px;
    font-size: 18px;
  }
  .phone__link {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .call-link__text {
    font-size: 18px;
  }
  .hide-menu {
    width: 600px;
  }
  .toBlock {
    font-size: 18px;
  }
  .main {
    height: 770px;
  }
  .main__data {
    display: none;
  }
  h1 {
    font-size: 80px;
    line-height: 84px;
  }
  .main-content {
    margin-top: 60px;
  }
  .main__subtitle {
    margin-top: 30px;
    font-size: 30px;
    line-height: 40px;
  }
  .send-phone {
    margin-top: 60px;
    width: 100%;
    height: 75px;
  }
  .input-send {
    height: 77px;
  }
  .wfor {
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .wfor-box {
    margin-top: 25px;
    height: 320px;
  }
  .wfor-el {
    width: 205px;
  }
  .wfor-el:nth-child(2) {
    margin-top: 60px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .wfor-el__title {
    font-size: 18px;
    line-height: 32px;
  }
  .wget-inner {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .wget__img {
    width: 90%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .wget-row1 {
    margin-left: -78px;
    margin-top: 10px;
    width: 77%;
  }
  .wget-box__title {
    margin-top: -53px;
    font-size: 22px;
    line-height: 30px;
  }
  .wget-row2 {
    margin-top: 50px;
    margin-left: -10%;
    width: 120%;
  }
  .row2-box {
    padding-top: 84px;
  }
  .box-backsub {
    height: 454px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .box-backsub::before {
    padding-left: 27px;
    font-size: 22px;
    margin-bottom: 38px;
  }
  .backsub {
    margin-left: -220px;
    width: calc(100vw - 50% - 292px);
    left: calc(50% + 240px);
    top: -25px;
    height: auto;
  }
  .container_stars,
  .container_spikers {
    margin-left: calc((100% - 930px) / 2);
    margin-right: 0;
  }
  .stars-inner,
  .spikers-inner {
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .stars-inner_title,
  .spikers-inner_title {
    padding-bottom: 0px;
  }
  .stars-inner_slider,
  .spikers-inner_slider {
    padding-right: 0;
    padding-top: 0;
  }
  .stars-title {
    margin-bottom: 70px;
  }
  .stars-slider1:before,
  .spikers-slider1:before {
    width: calc(80px + ((100vw - 930px) / 2) - 25px);
  }
  .stars-slider1:after,
  .spikers-slider1:after {
    width: calc(80px + ((100vw - 930px) / 2) - 25px);
    left: calc((80px + ((100vw - 930px) / 2)) * (-1));
  }
  .stars-slider1 .slick-slide,
  .spikers-slider1 .slick-slide {
    margin-right: 50px;
  }
  .stars-slider1 .slick-arrow,
  .spikers-slider1 .slick-arrow {
    top: -110px;
  }
  .stars-slider1 .slick-arrow.slick-prev,
  .spikers-slider1 .slick-arrow.slick-prev {
    left: 671px;
  }
  .stars-slider1 .slick-arrow.slick-next,
  .spikers-slider1 .slick-arrow.slick-next {
    left: 727px;
  }
  .stars-slider1 .slick-dots,
  .spikers-slider1 .slick-dots {
    width: 770px;
  }
  .spikers-title {
    margin-bottom: 60px;
  }
  .infofor-inner {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .infofor-title {
    margin-bottom: 60px;
  }
  .row1-box {
    padding-left: 41px;
    padding-right: 41px;
    padding-bottom: 45px;
  }
  .row2-box {
    padding-left: 41px;
    padding-right: 41px;
    padding-bottom: 45px;
  }
  .step__subtitle {
    font-size: 18px;
    margin-top: 20px;
  }
  .request-button {
    width: 100%;
    height: 60px;
    font-size: 20px;
    margin-top: 38px;
  }
  .step-box2:after {
    bottom: 63%;
  }
  .step-box2:before {
    height: 63%;
  }
  .step-box3:after {
    bottom: 48%;
  }
  .step-box3:before {
    height: 48%;
  }
  .agegroup-content {
    margin-left: 80px;
    margin-right: calc((100vw - 770px) / 2);
  }
  .agegroup-box {
    width: 100%;
    margin-top: 70px;
    margin-bottom: 70px;
  }
  .agegroup-table {
    width: 100%;
  }
  .imgbox {
    height: auto;
  }
  .agegroup-table tr {
    height: calc(116px * 0.7);
  }
  .agegroup-table tr:nth-child(1) {
    height: calc(127px * 0.7);
  }
  .agegroup-table tr:nth-child(2n) {
    height: calc(105px * 0.7);
  }
  .agegroup-table tr:nth-child(3) {
    height: calc(118px * 0.7);
  }
  .agegroup-table tr:last-child {
    height: calc( 125px * 0.7);
  }
  .agegroup-table td {
    font-size: 30px;
  }
  .agegroup-button {
    height: 75px;
  }
  .category-inner {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .level-box {
    width: 130px;
    margin: 0 0 0 30px;
  }
  .level-subtitle__text {
    font-size: 18px;
  }
  .pedestal1 {
    height: 100px;
  }
  .pedestal2 {
    height: 170px;
  }
  .pedestal3 {
    height: 240px;
  }
  .pedestal4 {
    height: 310px;
  }
  .pedestal5 {
    height: 380px;
  }
  .pedestal__text {
    font-size: 40px;
  }
  .category-title {
    margin-bottom: 30px;
  }
  .star {
    width: 33px;
    height: 31px;
    margin-right: 10px;
  }
  .prizes-inner {
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .prizes-title {
    margin-bottom: 40px;
  }
  .prizes-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .prizes-col {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    padding-right: 0;
  }
  .prizes-col:first-child, .prizes-col:last-child {
    width: 100%;
    padding-right: 0;
  }
  .prize-box {
    width: 50%;
    margin-bottom: 20px;
  }
  .prize-subtitle {
    width: calc(100% - 160px);
    font-size: 18px;
    line-height: 30px;
    padding-right: 15px;
  }
  .prize-img {
    width: 320px;
    height: 320px;
  }
  div.prize-imgbox {
    width: 160px;
  }
  div.prize-imgbox1,
  div.prize-imgbox2 {
    margin-right: 0px;
  }
  .prize-img1 {
    left: -53%;
    top: -36%;
  }
  .prize-img2 {
    left: -57%;
    top: -44%;
  }
  .prize-img3 {
    left: -65%;
    top: -45%;
  }
  .prize-img4 {
    left: -69%;
    top: -41%;
  }
  .prize-img5 {
    left: -48%;
    top: -37%;
  }
  .prize-img6 {
    left: -66%;
    top: -35%;
  }
  .price-inner {
    padding-top: 80px;
    padding-bottom: 60px;
  }
  .price-title {
    margin-bottom: 50px;
  }
  .cost-box {
    width: 375px;
  }
  .cost-box:nth-child(3n-1) {
    width: 375px;
  }
  .cost-top {
    padding-top: 35px;
    height: 180px;
  }
  .cost-title {
    font-size: 20px;
  }
  .detail-link {
    font-size: 20px;
  }
  .cost-bottom__text {
    font-size: 35px;
  }
  .ruble {
    width: 23px;
    height: 25px;
  }
  .download-cost {
    width: 375px;
    padding-left: 40px;
  }
  .download-cost__text {
    font-size: 20px;
  }
  .questions-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .questions-content {
    width: 100%;
  }
  .questions-imgbox {
    width: 100%;
    height: 400px;
    margin-bottom: 60px;
  }
  .questions-imgbox__img {
    position: absolute;
    left: -6.6%;
    top: -52%;
    width: 111.6%;
  }
  .questions-title {
    margin-bottom: 40px;
  }
  .download-quest {
    margin-bottom: 40px;
  }
  .medias-slider {
    margin: 0 30px;
  }
  .medias-box {
    height: 350px;
  }
  .medias-slider .slick-arrow.slick-prev {
    left: calc(50% - 440px);
  }
  .medias-slider .slick-arrow.slick-next {
    right: calc(50% - 440px);
  }
  .medias-slider .slick-arrow {
    top: 395px;
  }
  .medias-inner {
    padding-bottom: 110px;
    padding-top: 80px;
  }
  .partners-inner {
    padding-top: 60px;
  }
  .partners-title {
    text-align: left;
    margin-bottom: 50px;
  }
  .partners-box {
    width: 350px;
  }
  .partners-slider .slick-arrow.slick-prev {
    left: calc(50% + 285px);
  }
  .partners-slider .slick-arrow.slick-next {
    left: calc(50% + 345px);
  }
  .partners-slider .slick-arrow {
    top: -98px;
  }
  .partners-slider .slick-slide {
    margin-right: 50px;
    margin-bottom: 50px;
    padding-left: 20px;
  }
  .partners-button {
    margin-right: auto;
  }
  .booking-inner {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .booking-img {
    right: -516px;
    height: 611px;
  }
  .booking-title {
    font-size: 54px;
    line-height: 66px;
    margin-bottom: 48px;
  }
  .booking-button {
    width: 346px;
    height: 89px;
  }
  .loc-map {
    width: 40%;
    height: 370px;
  }
  .loc-container {
    margin-left: 0;
    margin-right: calc((100vw - 930px)/2);
    width: 60%;
  }
  .loc-inner {
    padding-top: 40px;
    padding-right: 0;
    padding-left: 50px;
  }
  .loc-leftbox {
    padding-right: 40px;
  }
  .loc-title {
    padding-bottom: 25px;
    line-height: 69px;
  }
  .loc-text {
    font-size: 22px;
    margin-left: 22px;
  }
  .loc-icon_margin {
    width: 18px;
  }
  .loc-row {
    margin-bottom: 35px;
  }
  .loc-row:last-child {
    margin-bottom: 0px;
  }
  footer {
    height: auto;
  }
  .footer-title {
    font-size: 22px;
  }
  .footer-box {
    font-size: 18px;
  }
  .footer-table {
    row-gap: 25px;
    -webkit-column-gap: 18px;
            column-gap: 18px;
  }
  .footer-logo {
    margin-right: 30px;
  }
  .footer-button {
    margin-right: 0;
  }
  .footer-inner {
    padding: 50px 0;
  }
  .popup-sendcontact {
    width: 800px;
    height: 520px;
    padding: 100px 80px 60px;
  }
  .sendcontact-form {
    width: 640px;
  }
  .sendcontact-phone {
    padding-left: 40px;
    font-size: 20px;
  }
  .sendcontact-phone::-webkit-input-placeholder {
    font-size: 20px;
  }
  .sendcontact-phone:-ms-input-placeholder {
    font-size: 20px;
  }
  .sendcontact-phone::-ms-input-placeholder {
    font-size: 20px;
  }
  .sendcontact-phone::placeholder {
    font-size: 20px;
  }
  .sendcontact-button {
    font-size: 20px;
    width: 300px;
  }
  .thanks__agree {
    font-size: 16px;
  }
  .popup-thanks {
    height: 700px;
  }
  .thanks__checkbox {
    margin: 100px auto 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 979px) {
  .container {
    width: 730px;
  }
  .inner {
    padding-left: 60px;
    padding-right: 60px;
  }
  .main {
    height: 870px;
  }
  .sb-1 {
    top: calc(50% - 190px);
  }
  .email {
    display: none;
  }
  .call {
    display: none;
  }
  .logo__text {
    width: 250px;
    line-height: 28px;
    font-size: 18px;
  }
  .hide-menu {
    width: 510px;
  }
  .hide-menu a.toBlock:nth-child(3),
  .hide-menu a.toBlock:nth-child(1) {
    display: none;
  }
  .main__data {
    display: none;
  }
  h1 {
    font-size: 68px;
    line-height: 78px;
    width: 100%;
  }
  .main-content {
    margin-top: 60px;
  }
  .main-content * {
    width: 100%;
  }
  .input-phone {
    font-size: 22px;
    padding-left: 40px;
  }
  .input-phone::-webkit-input-placeholder {
    font-size: 22px;
  }
  .input-phone:-ms-input-placeholder {
    font-size: 22px;
  }
  .input-phone::-ms-input-placeholder {
    font-size: 22px;
  }
  .input-phone::placeholder {
    font-size: 22px;
  }
  .input-send {
    width: 275px;
    font-size: 22px;
  }
  .main__subtitle {
    margin-top: 60px;
    font-size: 28px;
    line-height: 40px;
  }
  .text-agree {
    margin-left: 0px;
  }
  .wfor {
    padding: 60px 0px;
  }
  .wfor-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
    height: auto;
  }
  .wfor__circle {
    display: none;
  }
  .wfor-el__title {
    font-size: 20px;
    line-height: 30px;
  }
  .wfor-el {
    margin-top: 60px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .wfor-el:nth-child(2) {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .wget-inner {
    padding: 80px 0px;
  }
  .wget-title {
    text-align: center;
  }
  .wget-row1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px 0px 450px;
  }
  .wget-row2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wget__img {
    width: 300px;
  }
  .wget-box1__title {
    margin-top: -70px;
  }
  .wget-box {
    margin-top: 30px;
  }
  .box-backsub {
    width: 100vw;
    left: calc((730px - 100vw) / 2);
    top: 830px;
  }
  .box-backsub::before {
    left: calc(50% - 195px);
  }
  .backsub {
    margin-left: auto;
    height: 438px;
  }
  .sb-3 {
    top: calc(50% - 210px);
  }
  .container_stars,
  .container_spikers {
    margin-left: calc((100% - 730px) / 2);
    margin-right: 0;
  }
  .stars-inner,
  .spikers-inner {
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .stars-inner_title,
  .spikers-inner_title {
    padding-bottom: 0px;
  }
  .stars-inner_slider,
  .spikers-inner_slider {
    padding-right: 0;
    padding-top: 0;
  }
  .stars-slider1:before,
  .spikers-slider1:before {
    width: calc(60px + ((100vw - 730px) / 2) - 15px);
    height: 450px;
  }
  .stars-slider1:after,
  .spikers-slider1:after {
    width: calc(60px + ((100vw - 730px) / 2) - 15px);
    left: calc((60px + ((100vw - 730px) / 2)) * (-1));
    height: 450px;
  }
  .stars-slider1 .slick-slide {
    margin-right: 30px;
  }
  .stars__img-box,
  .spikers__img-box {
    width: 290px;
    height: 360px;
  }
  .stars-title {
    margin-bottom: 60px;
    text-align: center;
  }
  .stars-slider1 .slick-dots {
    margin-top: 30px;
    width: 610px;
  }
  .spikers-title {
    margin-bottom: 60px;
    text-align: center;
  }
  .spikers-slider1 .slick-dots {
    margin-top: 30px;
    width: 610px;
  }
  .infofor-inner {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .infofor-title {
    margin-bottom: 60px;
  }
  .step-row1,
  .step-row2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .row1-box,
  .row2-box {
    width: 100%;
    padding: 0 61px 0 61px;
    height: 215px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .row1-imgbox,
  .row2-imgbox {
    height: 78px;
  }
  .row1-imgbox:after,
  .row2-imgbox:after {
    left: 85px;
    bottom: 7px;
    font-size: 26px;
  }
  .step__subtitle {
    font-size: 24px;
    color: #ffffff;
    margin-top: 30px;
  }
  .step__subtitle br {
    content: "";
  }
  .request-button {
    width: 315px;
    height: 70px;
    font-size: 24px;
    margin-top: 42px;
  }
  .step-box1 {
    height: auto;
    padding-bottom: 50px;
  }
  .step-box1:after {
    bottom: 79%;
    left: 48%;
    border-radius: 50%;
  }
  .step-box1:before {
    bottom: -59px;
    left: auto;
    right: 0;
    height: 101%;
    width: 51%;
    border-left: none;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: none;
    border-top-right-radius: 20px;
  }
  .step-box2:after,
  .step-box3:after,
  .step-box4:after,
  .step-box5:after {
    border-radius: 50%;
    left: 48%;
    bottom: 70%;
  }
  .step-box2:before,
  .step-box3:before,
  .step-box4:before,
  .step-box5:before {
    bottom: -59px;
    height: 215px;
    left: auto;
    right: 0;
    width: 51%;
    border-left: none;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: none;
  }
  .step-box5:before {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom-right-radius: 20px;
  }
  .step-box6:after {
    bottom: 70%;
    border-radius: 50%;
    left: 48%;
  }
  .step-box6:before {
    border: none;
  }
  .agegroup-content {
    margin-left: 60px;
    margin-right: calc((100vw - 610px) / 2);
    margin-top: 60px;
  }
  .agegroup-box {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .agegroup-table {
    width: 100%;
  }
  .imgbox {
    height: auto;
    width: 40%;
  }
  .agegroup-table tr {
    height: calc(116px * 0.6);
  }
  .agegroup-table tr:nth-child(1) {
    height: calc(127px * 0.6);
  }
  .agegroup-table tr:nth-child(2n) {
    height: calc(105px * 0.6);
  }
  .agegroup-table tr:nth-child(3) {
    height: calc(118px * 0.6);
  }
  .agegroup-table tr:last-child {
    height: calc( 125px * 0.6);
  }
  .agegroup-table td {
    font-size: 22px;
  }
  .agegroup-button {
    height: 70px;
    font-size: 24px;
  }
  .category-inner {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .level-box {
    width: 150px;
    margin: 0 0 0 80px;
  }
  .level-subtitle__text {
    font-size: 22px;
  }
  .pedestal1 {
    height: 100px;
  }
  .pedestal2 {
    height: 170px;
  }
  .pedestal3 {
    height: 240px;
  }
  .pedestal4 {
    height: 310px;
  }
  .pedestal5 {
    height: 380px;
  }
  .pedestal__text {
    font-size: 40px;
  }
  .category-title {
    margin-bottom: 30px;
  }
  .star {
    width: 33px;
    height: 31px;
    margin-right: 10px;
  }
  .swipe__img {
    display: block;
    margin: 0 auto;
    width: 81px;
    height: 90px;
  }
  .levels {
    margin-bottom: 40px;
  }
  .prizes-inner {
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .prizes-title {
    margin-bottom: 40px;
  }
  .prizes-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .prizes-col {
    width: 100%;
    padding-right: 0;
  }
  .prizes-col:first-child, .prizes-col:last-child {
    width: 100%;
    padding-right: 0;
  }
  .prize-box {
    width: 100%;
    margin-bottom: 20px;
  }
  .prize-subtitle {
    width: auto;
    font-size: 24px;
    line-height: 30px;
    padding-right: 15px;
  }
  .prize-subtitle br {
    content: " ";
  }
  .prize-img {
    width: 320px;
    height: 320px;
  }
  div.prize-imgbox {
    width: 160px;
  }
  div.prize-imgbox1 {
    margin-right: 0px;
  }
  div.prize-imgbox2 {
    margin-right: 24px;
  }
  .prize-img1 {
    left: -53%;
    top: -36%;
  }
  .prize-img2 {
    left: -57%;
    top: -44%;
  }
  .prize-img3 {
    left: -65%;
    top: -45%;
  }
  .prize-img4 {
    left: -69%;
    top: -41%;
  }
  .prize-img5 {
    left: -48%;
    top: -37%;
  }
  .prize-img6 {
    left: -66%;
    top: -35%;
  }
  .price-inner {
    padding-top: 80px;
    padding-bottom: 60px;
  }
  .cost-box {
    width: 100%;
  }
  .cost-box:nth-child(3n-1) {
    width: 100%;
  }
  .price-title {
    margin-bottom: 60px;
  }
  .download-cost-box {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .questions-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .questions-content {
    width: 100%;
    padding-left: 0;
  }
  .questions-imgbox {
    width: 100%;
    height: 349px;
    margin-bottom: 40px;
  }
  .questions-imgbox__img {
    position: absolute;
    left: -6.6%;
    top: -42%;
    width: 111.6%;
  }
  .questions-title {
    margin-bottom: 40px;
    text-align: center;
    font-size: 70px;
  }
  .download-quest {
    margin-bottom: 40px;
  }
  .qustions-button {
    margin: 0 auto;
  }
  .medias-slider {
    margin: 0 30px 80px;
  }
  .medias-box {
    height: 300px;
  }
  .medias-title {
    font-size: 70px;
  }
  .medias {
    padding-bottom: 0;
  }
  .medias-inner {
    padding-bottom: 110px;
    padding-top: 60px;
  }
  .partners-inner {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .partners-title {
    text-align: center;
    margin-bottom: 60px;
  }
  .partners-box {
    width: 350px;
  }
  .partners-slider .slick-slide {
    margin-right: 50px;
    margin-bottom: 50px;
    padding-left: 20px;
  }
  .partners-button {
    margin: 40px auto 0;
  }
  .booking-inner {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .booking-img {
    display: none;
  }
  .booking-title {
    width: 100%;
    text-align: center;
    font-size: 54px;
    line-height: 66px;
    margin-bottom: 48px;
  }
  .booking-button {
    margin: 0 auto;
    width: 346px;
    height: 89px;
  }
  .loc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .loc-map {
    width: 100%;
    height: 370px;
  }
  .loc-container {
    margin-left: 0;
    margin-right: calc((100vw - 930px)/2);
    width: 100%;
  }
  .loc-inner {
    padding-left: auto;
    padding-right: auto;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .loc-leftbox {
    padding-right: 40px;
  }
  .loc-title {
    padding-bottom: 25px;
    line-height: 69px;
  }
  .loc-text {
    font-size: 22px;
    margin-left: 22px;
  }
  .loc-icon_margin {
    width: 18px;
  }
  .loc-row {
    margin-bottom: 35px;
  }
  .loc-row:last-child {
    margin-bottom: 0px;
  }
  footer {
    height: auto;
    background-color: #240c46;
  }
  .footer-title {
    font-size: 22px;
    color: #ffffff;
  }
  .footer-box {
    font-size: 18px;
  }
  .footer-table {
    row-gap: 25px;
    -webkit-column-gap: 18px;
            column-gap: 18px;
  }
  .footer-logo {
    margin-right: 30px;
  }
  .footer-button {
    width: 75px;
    height: 75px;
    margin-right: 0;
    background: url(../img/footer/phone.png) no-repeat;
    background-size: cover;
    font-size: 0;
  }
  .footer-inner {
    padding: 50px 0;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 280px;
  }
  .inner {
    padding-left: 0;
    padding-right: 0;
  }
  .scrollbar,
  .soc {
    display: none;
  }
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    height: 69px;
    -webkit-transition: height 0.1s;
    -o-transition: height 0.1s;
    transition: height 0.1s;
  }
  .header-mob__open {
    height: 189px;
  }
  .head-wrap {
    position: absolute;
    z-index: 20;
    top: 0;
    width: 100vw;
    background-color: #240c46;
  }
  .logo__img {
    width: 51px;
    height: 48.5px;
  }
  .logo__text {
    display: none;
  }
  .email {
    display: none;
  }
  .call {
    display: none;
  }
  .toBlock {
    font-size: 15px;
    line-height: 30px;
  }
  .mobile-call {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(../img/footer/phone.png) no-repeat;
    background-size: cover;
  }
  .button-menu {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-top: 24px;
    width: 30px;
    height: 22px;
  }
  .button-menu__el {
    height: 3px;
  }
  .hide-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    line-height: 1.6;
  }
  .burger-1 {
    -webkit-transform: scale(1.11) rotate(37deg);
        -ms-transform: scale(1.11) rotate(37deg);
            transform: scale(1.11) rotate(37deg);
  }
  .burger-3 {
    -webkit-transform: scale(1.11) rotate(-37deg);
        -ms-transform: scale(1.11) rotate(-37deg);
            transform: scale(1.11) rotate(-37deg);
  }
  .main {
    height: auto;
  }
  .main-wrap {
    background: url(../img/back-mob.jpg) center right no-repeat;
    width: 100vw;
    height: 353px;
    background-size: cover;
  }
  .main-content {
    margin-top: 69px;
  }
  .main-content * {
    width: auto;
  }
  .main__title {
    margin-top: 67px;
  }
  h1 {
    font-size: 31px;
    line-height: 1.1;
    letter-spacing: -1px;
  }
  .main__data {
    display: none;
  }
  .main__subtitle {
    width: 250px;
    margin-top: 15px;
    font-size: 15px;
    line-height: 19px;
  }
  .input-phone {
    display: none;
  }
  .input-send {
    width: 204px;
    font-size: 15px;
    right: 0;
    top: 0;
    left: 0;
    border-radius: 25px;
    width: 205px;
    height: 50px;
  }
  .send-phone {
    margin-top: 31px;
    border: none;
  }
  .text-agree {
    display: none;
  }
  .wfor {
    padding: 68px 0px;
  }
  .wfor-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
    height: auto;
  }
  .wfor-title {
    font-size: 28px;
  }
  .wfor__circle {
    display: none;
  }
  .wfor-el__title {
    font-size: 15px;
    line-height: 17px;
    margin-top: 15px;
  }
  .wfor-el {
    width: 180px;
    margin-top: 34px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .wfor-el:nth-child(2) {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .wfor-boximg {
    width: 73px;
    height: 73px;
  }
  .wfor-el__img {
    width: 40px;
  }
  .wget-inner {
    padding: 43px 0px;
  }
  .wget-title {
    font-size: 28px;
  }
  .wget-title {
    text-align: center;
  }
  .wget-row1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px 0px 263px;
  }
  .wget-row2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
  }
  .wget__img {
    width: 249px;
  }
  .wget-box1__title {
    margin-top: -51px;
  }
  .wget-box__title {
    font-size: 18px;
    line-height: 25px;
  }
  .wget-box__title_cor {
    margin-top: -70px;
  }
  .wget-box {
    margin-top: 3px;
  }
  .box-backsub {
    width: calc(100vw - ((100vw - 100%)/2) + 20px);
    left: -20px;
    top: 570px;
    height: 198px;
  }
  .box-backsub::before {
    left: 94px;
    font-size: 18px;
    padding-left: 0;
    margin-top: auto;
    margin-bottom: 38px;
  }
  .backsub {
    position: absolute;
    margin-left: auto;
    height: 254px;
    bottom: 0;
    right: 0;
  }
  .container_stars,
  .container_spikers {
    margin-left: 0;
    margin-right: 0;
  }
  .stars-inner,
  .spikers-inner {
    padding-top: 50px;
    padding-bottom: 0;
  }
  .stars-inner_title,
  .spikers-inner_title {
    padding-bottom: 0px;
    font-size: 28px;
  }
  .stars-inner_slider,
  .spikers-inner_slider {
    padding-right: 0;
    padding-top: 0;
  }
  .stars-slider1:before,
  .spikers-slider1:before {
    width: calc(((100vw - 280px) / 2) - 5px);
    height: 350px;
  }
  .stars-slider1:after,
  .spikers-slider1:after {
    width: calc(((100vw - 280px) / 2) - 5px);
    left: 0px;
    height: 350px;
  }
  .spikers-title,
  .stars-title {
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
  }
  .stars__img-box,
  .spikers__img-box {
    width: 230px;
    height: 300px;
    -webkit-box-shadow: 0 20px 33px rgba(175, 120, 254, 0.14);
            box-shadow: 0 20px 33px rgba(175, 120, 254, 0.14);
  }
  .stars-slider1 .slick-slide,
  .spikers-slider1 .slick-slide {
    margin-right: auto;
  }
  .stars__subtitle {
    margin-top: 29px;
    font-size: 18px;
  }
  .spikers__subtitle {
    margin-top: 29px;
    font-size: 18px;
    margin-bottom: 30px;
  }
  .infofor-inner {
    padding-top: 44px;
    padding-bottom: 0px;
  }
  .infofor-title {
    margin-bottom: 45px;
    font-size: 26px;
  }
  .step__img {
    width: 64px;
  }
  .step1__img {
    width: 44px;
    margin-left: -4px;
  }
  .step2__img {
    margin-left: -8px;
  }
  .step-row1,
  .step-row2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .row1-box,
  .row2-box {
    width: 100%;
    padding: 0 40px 0 18px;
    height: 143px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .row1-imgbox,
  .row2-imgbox {
    height: 55px;
  }
  .row1-imgbox:after,
  .row2-imgbox:after {
    left: 61px;
    bottom: 12px;
    font-size: 13px;
  }
  .row1-imgbox3 {
    margin-bottom: 7px;
  }
  .step__subtitle {
    font-size: 17px;
    color: #ffffff;
    margin-top: 10px;
  }
  .step__subtitle br {
    content: "";
  }
  .request-button {
    width: 211px;
    height: 55px;
    font-size: 18px;
    margin-top: 25px;
  }
  .step-box1 {
    height: auto;
    padding-bottom: 50px;
  }
  .step-box1:after {
    bottom: 83%;
    left: 47%;
    border-radius: 50%;
  }
  .step-box1:before {
    bottom: -35px;
    left: auto;
    right: 0;
    height: 100%;
    width: 51%;
    border-left: none;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: none;
    border-top-right-radius: 20px;
  }
  .step-box2:after,
  .step-box3:after,
  .step-box4:after,
  .step-box5:after {
    border-radius: 50%;
    left: 48%;
    bottom: 70%;
  }
  .step-box2:before,
  .step-box3:before,
  .step-box4:before,
  .step-box5:before {
    bottom: -34px;
    height: 141px;
    left: auto;
    right: 0;
    width: 51%;
    border-left: none;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: none;
  }
  .step-box5:before {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom-right-radius: 20px;
  }
  .step-box6:after {
    bottom: 72%;
    border-radius: 50%;
    left: 48%;
  }
  .step-box6:before {
    border: none;
  }
  .agegroup-content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width: 280px;
  }
  .agegroup-box {
    width: 100%;
    margin-top: 24px;
    margin-bottom: 23px;
  }
  .agegroup-title {
    font-size: 28px;
  }
  .agegroup-table {
    width: 100%;
  }
  .imgbox {
    display: none;
  }
  .agegroup-table:after {
    top: 18px;
  }
  .agegroup-table:before {
    top: 9px;
  }
  .agegroup-table tr {
    height: calc(116px * 0.293);
  }
  .agegroup-table tr:nth-child(1) {
    height: calc(127px * 0.293);
  }
  .agegroup-table tr:nth-child(2n) {
    height: calc(105px * 0.293);
  }
  .agegroup-table tr:nth-child(3) {
    height: calc(118px * 0.293);
  }
  .agegroup-table tr:last-child {
    height: calc( 125px * 0.293);
  }
  .agegroup-table td {
    font-size: 12px;
  }
  .agegroup-button {
    height: 57px;
    font-size: 19px;
    width: 217px;
  }
  .category-inner {
    padding-top: 50px;
    padding-bottom: 45px;
  }
  .category-title {
    font-size: 28px;
    text-align: center;
  }
  .level-box {
    width: 75px;
    margin: 0 0 0 20px;
  }
  .level-subtitle__text {
    font-size: 14px;
    margin-left: 0;
  }
  .level-subtitle__text::before {
    display: none;
  }
  .pedestal {
    border-radius: 5px;
    margin-top: 0px;
    margin-bottom: 14px;
  }
  .pedestal1 {
    height: 50px;
  }
  .pedestal2 {
    height: 90px;
  }
  .pedestal3 {
    height: 130px;
  }
  .pedestal4 {
    height: 170px;
  }
  .pedestal5 {
    height: 210px;
  }
  .pedestal__text {
    font-size: 25px;
  }
  .category-title {
    margin-bottom: 30px;
  }
  .star {
    width: 15px;
    height: 15px;
    margin-right: 10px;
  }
  .swipe__img {
    display: block;
    margin: 0 auto;
    width: 29px;
    height: auto;
  }
  .levels {
    margin-bottom: 20px;
  }
  .prizes-inner {
    padding-top: 50px;
    padding-bottom: 0;
  }
  .prizes-title {
    margin-bottom: -7px;
    font-size: 28px;
    text-align: center;
  }
  .prizes-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .prizes-col {
    width: 100%;
    padding-right: 0;
  }
  .prizes-col:first-child, .prizes-col:last-child {
    width: 100%;
    padding-right: 0;
  }
  .prize-box {
    width: 100%;
    margin-bottom: 0;
    height: 158px;
  }
  .prize-subtitle {
    width: auto;
    font-size: 16px;
    line-height: 20px;
    padding-right: 0;
  }
  .prize-subtitle br {
    content: " ";
  }
  .prize-img {
    width: 219px;
    height: 219px;
  }
  div.prize-imgbox {
    width: 190px;
    font-size: 63px;
    margin-left: 10px;
  }
  div.prize-imgbox1 {
    margin-right: 0px;
  }
  div.prize-imgbox2 {
    margin-right: 24px;
  }
  div.prize-imgbox3 {
    width: 110px;
  }
  div.prize-imgbox4 {
    width: 110px;
  }
  div.prize-imgbox5 {
    width: 146px;
  }
  div.prize-imgbox6 {
    width: 146px;
  }
  .prize-img1 {
    left: -79%;
    top: -14%;
  }
  .prize-img2 {
    left: -98%;
    top: -15%;
  }
  .prize-img3 {
    left: -76%;
    top: -13%;
  }
  .prize-img4 {
    left: -74%;
    top: -14%;
  }
  .prize-img5 {
    left: -51%;
    top: -4%;
  }
  .prize-img6 {
    left: -66%;
    top: -8%;
  }
  .price-inner {
    padding-top: 52px;
    padding-bottom: 45px;
  }
  .price-title {
    margin-bottom: 29px;
    font-size: 28px;
    text-align: center;
  }
  .cost-box {
    width: 100%;
    min-height: 180px;
  }
  .cost-box:nth-child(3n-1) {
    width: 100%;
  }
  .cost-top {
    padding-top: 20px;
    height: 120px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .cost-bottom__text {
    font-size: 25px;
  }
  .cost-title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 12px;
  }
  .cost-bottom {
    height: 60px;
    padding-left: 20px;
  }
  .detail-button {
    width: 20px;
    height: 20px;
    -o-object-position: 1px 5px;
       object-position: 1px 5px;
  }
  .detail-link {
    font-size: 15px;
  }
  .detail-list li {
    padding-left: 20px;
    font-size: 15px;
    height: 50px;
  }
  .cost-title {
    font-size: 15px;
  }
  .download-cost {
    padding-left: 31px;
  }
  .download-cost-box {
    margin-top: 0;
  }
  .download-cost__text {
    font-size: 14px;
  }
  .download-cost__img {
    width: auto;
    height: 19px;
  }
  .ruble {
    width: auto;
    height: 18px;
  }
  .questions-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 55px;
    padding-bottom: 45px;
  }
  .questions-content {
    width: 100%;
    padding-left: 0;
  }
  .questions-imgbox {
    display: none;
  }
  .questions-title {
    margin-bottom: 18px;
    text-align: center;
    font-size: 28px;
  }
  .download-quest {
    margin-bottom: 28px;
  }
  .download-quest__text {
    font-size: 15px;
    line-height: 22px;
  }
  .download-quest__img {
    width: auto;
    height: 35px;
    -o-object-position: 0px -6px;
       object-position: 0px -6px;
  }
  .qustions-button {
    margin: 0 auto;
    width: 220px;
    height: 56px;
    font-size: 18px;
  }
  .medias-slider {
    margin: 0 0 50px;
    width: 100vw;
  }
  .medias-box {
    height: 100px;
    border-radius: 5px;
  }
  .medias-title {
    font-size: 27px;
  }
  .medias {
    padding-bottom: 0;
  }
  .medias-inner {
    padding-bottom: 53px;
    padding-top: 60px;
  }
  .video-button {
    width: 23px;
    height: 23px;
  }
  .video-button__img {
    width: 8px;
    height: 9px;
  }
  .medias-slider .slick-slide {
    margin-left: 20px;
    margin-right: 20px;
  }
  .partners-inner {
    padding-top: 60px;
    padding-bottom: 56px;
  }
  .partners-title {
    text-align: center;
    margin-bottom: 28px;
    font-size: 28px;
  }
  .partners-box {
    width: 130px;
  }
  .partners-slider .slick-slide {
    margin-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
  }
  .partners-slider .slick-list {
    margin-left: -10px;
    margin-right: 0px;
  }
  .partners__subtitle {
    font-size: 12px;
    height: 47px;
  }
  .partners-button {
    margin: 24px auto 0;
    width: 210px;
    height: 55px;
    font-size: 17px;
  }
  .booking-inner {
    padding-top: 55px;
    padding-bottom: 50px;
  }
  .booking-img {
    display: none;
  }
  .booking-title {
    width: 100%;
    text-align: center;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 32px;
  }
  .booking-button {
    margin: 0 auto;
    width: 220px;
    height: 56px;
    font-size: 16px;
  }
  .loc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .loc-map {
    display: none;
  }
  .loc-container {
    margin-left: calc((100vw - 280px) / 2);
    margin-right: calc((100vw - 280px) / 2);
    width: 280px;
  }
  .loc-inner {
    padding-left: auto;
    padding-right: auto;
    padding-top: 57px;
    padding-bottom: 45px;
  }
  .loc-leftbox {
    padding-right: 40px;
  }
  .loc-title {
    padding-bottom: 25px;
    line-height: 38px;
    font-size: 28px;
  }
  .loc-text {
    font-size: 14px;
    margin-left: 22px;
  }
  .loc-place__href {
    line-height: 21px;
  }
  .loc-icon_margin {
    width: 18px;
  }
  .loc-row {
    margin-bottom: 17px;
  }
  .loc-row:last-child {
    margin-bottom: 0px;
  }
  .loc-instagram__img {
    width: 20px;
    height: auto;
  }
  .loc-vk__img {
    width: 20px;
    height: auto;
  }
  .loc-youtube__img {
    width: 20px;
    height: auto;
  }
  .loc-img__fb {
    width: 12px;
    height: auto;
  }
  footer {
    height: auto;
    background-color: #240c46;
  }
  .footer-title {
    font-size: 9px;
    color: #ffffff;
    margin-bottom: 8px;
  }
  .footer-box {
    font-size: 9px;
  }
  .footer-table {
    row-gap: 6px;
    -webkit-column-gap: 9px;
            column-gap: 9px;
  }
  .footer-logo {
    width: 44px;
    height: 42px;
    -o-object-fit: contain;
       object-fit: contain;
    margin-right: 20px;
  }
  .footer-button {
    display: none;
  }
  .footer-inner {
    padding: 10px 0;
    height: auto;
  }
  .footer-leftbox {
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .popup-sendcontact {
    width: 80vw;
    height: auto;
    padding: 30px 20px 30px;
  }
  .sendcontact__title {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 30px;
  }
  .sendcontact-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: auto;
    border: none;
  }
  .sendcontact-phone {
    padding-left: 17px;
    font-size: 20px;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    border: 2px solid #a686f7;
    font-size: 20px;
    margin-bottom: 15px;
  }
  .sendcontact-phone::-webkit-input-placeholder {
    font-size: 15px;
  }
  .sendcontact-phone:-ms-input-placeholder {
    font-size: 15px;
  }
  .sendcontact-phone::-ms-input-placeholder {
    font-size: 15px;
  }
  .sendcontact-phone::placeholder {
    font-size: 15px;
  }
  .sendcontact-button {
    position: relative;
    font-size: 18px;
    right: auto;
    top: auto;
    width: 100%;
    height: 60px;
  }
  .thanks__agree {
    font-size: 14px;
  }
  .popup-thanks {
    width: 80vw;
    height: auto;
    padding-bottom: 25px;
  }
  .thanks__checkbox {
    width: 150px;
    height: 150px;
    margin: 55px auto 55px;
  }
  .thanks__checkbox:after {
    width: 215px;
    height: 162px;
    top: -19px;
    left: -16px;
    margin: 0 auto;
  }
  .thanks__row1 {
    font-size: 16px;
  }
  .thanks__row2 {
    font-size: 20px;
    letter-spacing: normal;
    margin-bottom: 19px;
  }
  .thanks__row3 {
    font-size: 14px;
    line-height: 18.85px;
    width: 80%;
  }
}
